<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="script">
    <script th:inline="javascript" th:src="@{/js/productMng.js}"></script>
</th:block>

<th:block layout:fragment="css">
    <style>
        select {
            margin-right: 10px;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <form th:action="@{'/admin/products/' + ${products.number}}" role="form" method="get" th:object="${products}">
        <table class="table">
            <thead>
            <tr>
                <td>도서코드</td>
                <td>도서명</td>
                <td>상태</td>
                <td>등록자</td>
                <td>등록일</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product, status: ${products.getContent()}">
                <td th:text="${product.productCode}"></td>
                <td>
                    <a th:href="'/admin/product/' + ${product.productCode}" th:text="${product.productName}"></a>
                </td>
                <td th:text="${product.productSellStatus == T(com.mildous.bookstore.constant.ProductSellStatus).SELL} ? '판매중' : '품절'"></td>
                <td th:text="${product.createdBy}"></td>
                <td th:text="${product.regDate}"></td>
            </tr>
            </tbody>
        </table>

        <div th:with="start=${(products.number/maxPage)*maxPage + 1}, end=(${(products.totalPages == 0) ? 1 : (start + (maxPage - 1) < products.totalPages ? start + (maxPage - 1) : products.totalPages)})">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${products.first} ? 'disabled'">
                    <a th:onclick="'javascript:page(' + ${products.number - 1} + ')'" aria-label='previous' class="page-link">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>
                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${products.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                </li>
                <li class="page-item" th:classappend="${products.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${products.number + 1} + ')'" aria-label="Next" class="page-link">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="form-inline justify-content-center" th:object="${productSearchDto}">
            <select th:field="*{date}" class="form-control" style="width:auto;">
                <option value="all">전체기간</option>
                <option value="1d">1일</option>
                <option value="1w">1주</option>
                <option value="1m">1개월</option>
                <option value="6m">6개월</option>
            </select>
            <select th:field="*{status}" class="form-control" style="width:auto;">
                <option value="">판매상태</option>
                <option value="SELL">판매중</option>
                <option value="SOLD_OUT">품절</option>
            </select>
            <select th:field="*{by}" class="form-control" style="width:auto;">
                <option value="productName">상품명</option>
                <option value="createdBy">등록자</option>
            </select>
            <input th:field="*{query}" type="text" class="form-control" placeholder="검색어를 입력하세요">
            <button id="searchBtn" type="submit" class="btn btn-success ml-2">검색</button>
        </div>
    </form>
</div>
</html>