.mgb-15 {
    margin-bottom: 15px;
}
.mgt-30 {
    margin-top: 30px;
}
.mgt-50 {
    margin-top: 50px;
}
.repImgDiv {
    margin-right: 15px;
    height: auto;
    width: 50%;
}
.repImg {
    width: 100%;
    height: 400px;
}
.wd50 {
    height: auto;
    width: 50%;
}
.jumbotron {
    padding: 2rem 1rem;
}